{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <title>QUIZ!</title>
  </head>
  <body>
    <!-- As a heading -->
    <nav style='background-color: aquamarine !important;'class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">QUIZ !! </span>
      </div>
    </nav>
    
{% for question in quest %}
<h4 style="text-align: center;">{{ question.question }}</h4>
<ol>
  <button type="button" class="btn btn-secondary" style="display: list-item; margin-bottom: 6px;" data-alt="{{ question.alt_a }}" data-resp="{{ question.resp }}">A) {{ question.alt_a }}</button>
  <button type="button" class="btn btn-secondary" style="display: list-item; margin-bottom: 6px;" data-alt="{{ question.alt_b }}" data-resp="{{ question.resp }}">B) {{ question.alt_b }}</button>
  <button type="button" class="btn btn-secondary" style="display: list-item; margin-bottom: 6px;" data-alt="{{ question.alt_c }}" data-resp="{{ question.resp }}">C) {{ question.alt_c }}</button>
  <button type="button" class="btn btn-secondary" style="display: list-item; margin-bottom: 6px;" data-alt="{{ question.alt_d }}" data-resp="{{ question.resp }}">D) {{ question.alt_d }}</button>
</ol>
<script>
  var buttons = document.querySelectorAll('[data-alt]');
  buttons.forEach(function(button) {
    button.addEventListener('click', function() {
      var alt = button.getAttribute('data-alt');
      var resp = button.getAttribute('data-resp');
      compare(alt, resp);
    });
  });

  function compare(quest, resp) {
    console.log(quest, resp);
    if (quest === resp) {
      // Pop-up positivo
      alert('Resposta correta!');
    } else {
      // Pop-up negativo
      alert('Resposta incorreta.');
    }
  }
</script>
{% endfor %}
  <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
     -->
  </body>
</html>
